{% extends "base.html" %}
{% block content %}
    <div class="container container">
        <div class="row py-5">
            <div class="col-6 text-center px-4">
                <h3 class="py-4">Safety First</h3>
                <p class="py-4">Flights are possible at any time of the year, but only under safe weather conditions. No
                    flights to
                    best Bootstrap templates allowed when it's raining heavily. We carefully check the wind speed. If
                    there is something wrong with the weather, we'll refund you the full cost of tickets. We can set
                    another flight time if you're interested.</p>
                <a class="text-uppercase text-white btn rounded-pill fw-bold px-4"
                   style="background-color: #2b6477; font-size: 0.7em">Read more</a>
            </div>
            <div class="col-6"
                 style="background-image: url('https://mobirise.com/bootstrap-template/best-bootstrap-templates/assets/images/ravali-yan-96009-unsplash-1110x740.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center">
            </div>
        </div>
        <div class="row py-5">
            <div class="col-6"
                 style="background-image: url('https://mobirise.com/bootstrap-template/best-bootstrap-templates/assets/images/ian-dooley-407846-unsplash-1110x740.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center">
            </div>
            <div class="col-6 text-center px-4">
                <h3 class="py-4">More Fun</h3>
                <p class="py-4">Flights are possible at any time of the year, but only under safe weather conditions. No
                    flights to
                    best Bootstrap templates allowed when it's raining heavily. We carefully check the wind speed. If
                    there is something wrong with the weather, we'll refund you the full cost of tickets. We can set
                    another flight time if you're interested.</p>
                <a class="text-uppercase text-white btn rounded-pill fw-bold px-4"
                   style="background-color: #2b6477; font-size: 0.7em">Learn more</a>
            </div>

        </div>
        <div class="row py-3 text-center">
            <h3>Tickets</h3>
        </div>
        <div class="row">
            <div class="col-4 card p-0 rounded-0 border-0">
                <div class="card-header text-center text-white w-100 rounded-0 border-0"
                     style="background-color: #a3c6d2">
                    <p class="m-0">Single</p>
                    <h4>$ 40</h4>
                </div>
                <div class="card-body text-center border-0" style="background-color: #efefef">
                    <p class="border-bottom py-1">One place in a basket</p>
                    <p class="border-bottom py-1">Equipment rental</p>
                    <p class="border-bottom py-1">Training and instructions</p>
                    <a class="text-uppercase text-white btn rounded-pill fw-bold px-4"
                       style="background-color: #2b6477; font-size: 0.7em">Buy Ticket</a>
                </div>
            </div>
            <div class="col-4 card rounded-0 border-0">
                <div class="card-header text-center text-white w-100 rounded-0 border-0"
                     style="background-color: #a3c6d2">
                    <p class="m-0">For Children (6-14 years old)</p>
                    <h4>$ 20</h4>
                </div>
                <div class="card-body text-center border-0" style="background-color: #efefef">
                    <p class="border-bottom py-1">One place in a basket</p>
                    <p class="border-bottom py-1">Equipment rental</p>
                    <p class="border-bottom py-1">Training and instructions</p>
                    <a class="text-uppercase text-white btn rounded-pill fw-bold px-4"
                       style="background-color: #2b6477; font-size: 0.7em">Buy Ticket</a>
                </div>
            </div>
            <div class="col-4 card p-0 rounded-0 border-0">
                <div class="card-header text-center text-white w-100 rounded-0 border-0"
                     style="background-color: #a3c6d2">
                    <p class="m-0">Group (4 person)</p>
                    <h4>$ 150</h4>
                </div>
                <div class="card-body text-center border-0" style="background-color: #efefef">
                    <p class="border-bottom py-1">Perfect for couples and families</p>
                    <p class="border-bottom py-1">Equipment rental</p>
                    <p class="border-bottom py-1">Training and instructions</p>
                    <a class="text-uppercase text-white btn rounded-pill fw-bold px-4"
                       style="background-color: #2b6477; font-size: 0.7em">Buy Ticket</a>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}